<p-card [style]="{ position: 'relative', width: '25rem', height: '35rem', overflow: 'hidden', display: 'block'}">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      class="w-full h-48 object-cover"
      [src]="imageValue"
    />
  </ng-template>

  <ng-template pTemplate="title">
    {{ titleValue }}
  </ng-template>

  <ng-template pTemplate="subtitle">
    {{ subtitleValue }}
  </ng-template>

  <div class="h-full overflow-hidden pb-20">
    <p class="overflow-hidden leading-6 line-clamp-7">
      {{ descriptionValue }}
    </p>
  </div>

  <ng-template pTemplate="footer">
    <div class="absolute bottom-0 left-0 right-0 p-4 backdrop-blur">
      <div class="flex gap-3">
        <p-button
          label="Cancel"
          severity="secondary"
          class="flex-1"
          [outlined]="true"
          styleClass="w-full"
        />
        <p-button label="Save" class="flex-1" styleClass="w-full" />
      </div>
    </div>
  </ng-template>
</p-card>
