<p-dialog
  [header]="product?.title"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '90vh': '75vw', '575px': '90vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  (onHide)="onCloseDialog()"
>
  <ng-template #content>
    <p-image
      [src]="product?.image"
      [alt]="product?.title + ' image'"
      width="100%"
      imageClass="rounded-md"
    />
    <p-fieldset legend="Description" [toggleable]="true" [style]="{ margin: '1rem 0 0 0' }">
      <p class="py-4">
        {{ product?.description }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Details" [toggleable]="true" [style]="{ margin: '1rem 0 0 0' }">
      <div class="grid grid-cols-3 gap-x-8 py-4">
        <div class="col-1">
          <p-chip label="Brand" class="m-0" />
        </div>
        <div class="col-span-2">
          <p-chip [label]="product?.brand" class="m-0" />
        </div>
        <p-divider class="m-0 row col-span-2" />
        <div class="col-1">
          <p-chip label="Country" class="m-0" />
        </div>
        <div class="col-span-2">
          <p-chip [label]="product?.country" class="m-0" />
        </div>
        @for (field of productDetails(); track field) {
          @if (field) {
            <p-divider class="m-0 row col-span-2" />
            <div class="col-1">
              <p-chip [label]="field[0]" class="m-0" />
            </div>
            <div class="col-span-2">
              <p-chip [label]="field[1].toString()" class="m-0 col-1 col-start-2" />
            </div>
          }
        }
      </div>
    </p-fieldset>
  </ng-template>
  <ng-template #footer>
    <div class="bottom-0 left-0 right-0 grid grid-cols-5 gap-4 md:grid-rows-1 sm:grid-rows-2">
      <h2 class="px-4 text-2xl font-normal col-span-2 sm:col-span-5 row-span-1">
        {{ product?.price?.toFixed(2) }} ₴
      </h2>
      <p-inputnumber
        [(ngModel)]="inputValue"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="1"
        mode="decimal"
        [inputStyle]="{ width: '100%' }"
        [min]="0"
        [max]="99999"
        class="col-span-1 col-start-3"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>

      <p-button
        label="Add to cart"
        class="flex-1 col-span-2"
        styleClass="w-full"
        (onClick)="AddToCart()"
      />
    </div>
  </ng-template>
</p-dialog>
