<div class="wrapper">
  @if (showToolbar) {
    <p-menubar [model]="items" class="display-flex w-auto max-w-4xl">
      <ng-template #start>
        <p class="text-4xl">🍺</p>
      </ng-template>
      <ng-template #end>
        <div class="card flex gap-4 justify-center items-center">
          <input type="text" pInputText placeholder="Search" class="w-64" />
          <p-button
            [icon]="themeIcon()"
            variant="outlined"
            severity="contrast"
            (onClick)="toggleDarkMode()"
          />
          <a href="/order">
            <p-button icon="pi pi-shopping-cart" variant="outlined" severity="contrast" />
          </a>
          <p-avatar [label]="userAvatar()" class="mr-2" size="large" [style]="{ 'background-color': 'var(--p-surface-400)', color: 'var(--p-primary-100)' }" />
        </div>
      </ng-template>
    </p-menubar>
  }
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
