.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--p-surface-color);
  overflow-x: hidden;

  main {
    padding-bottom: 50px;
  }
}

nav {
  width: 51.25rem;
}
.container {
  max-width: 1140px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
