/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss' as *;
@use 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
