/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss' as *;
@use 'primeicons/primeicons.css';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
